body{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10%;
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    background-color: green;
}
#iqbooster{
    color: red;
    text-align: center;
    background-color: yellow;
    margin: 0px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
a{
    text-decoration: none;
    color: white;
}
.myInput{
    font-size: 2em;
    border: 1px solid black;
    letter-spacing: 0.5;
    text-align: center;
}
.gameArea{
    margin: auto;
    text-align: center;
}
.alert-primary{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
}
.backgroundimage{
    height: 500px;
    width: auto;
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tag{
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 300px;
    font-weight: bold;
    overflow: hidden;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
footer p {
    margin: 10px 0;
}
footer i {
    color: red;
}
footer a {
    color: #3c97bf;
    text-decoration: none;
}
button{
    margin: auto;
    text-align: center;
}
.alert-success{
    font-size: 1.5em;
    text-align: center;
}
#choice{
    background-color: blue;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}
.choose{
    background-color: #FFC837;
    font-size: 1.2em;
    padding: 5px;
    color: black;
    margin: auto;
    margin-bottom: 5px;
}
.btn-secondary{
    background-color: red;
    color: white;
    margin-top: 20px;
    font-size: 1.3em;
}
#timer{
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2em;
    background-color: chartreuse;
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
ol{
    border: blanchedalmond 5px solid;
}
li{
    margin: 18px;
    font-size: 1em;
}
.alert-success{
    background-color: #642B73;
    color: white;
}
#details{
    margin: auto;
    margin: 10px;
    text-align: center;
    font-size: 1.3em;
}
input{
    margin: 5px;
}

btn-primary{
    font-size: 1.3em;
}